.card-nota {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--fundo-detalhes);
    border-radius: 4px;
    flex-wrap: wrap;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3g);
    padding: 16px;
}

.card-nota_cabecalho {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-nota_texto {
    margin-top: 8px;
    font-size: 1rem;
}

.card-nota_titulo {
    font-size: 1.2 rem;
    margin-right: 12px;
}